.InfoInicio {
    /*color: #487353 !important;*/
    margin: 0 !important;
    margin-right: 0px;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
}

.imgInicio{
    width: 207px;
    height: 128px;
    margin-bottom: 0.5rem;
}

/*CSS para menu con cards*/
.text-success{
    color:#507c5b !important;
}

.border-success{
    border-color: #507c5b !important;
}

.card-header{
    background-color: #507c5b !important;
    color: white !important;
}
/*Fin css menu con cards*/