<div class="row mt-2">
    <div class="col-sm-3">
        <h3>Opciones de filtrado: </h3>
    </div>
    <div class="col-sm form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fas fa-th-list font-weight-bold"></i> Categoría </span>
                </div>
            </div>
            <select class="form-control col-sm-10" name="categoriaServicioComplementarioFiltro"
                id="categoriaServicioComplementario">
                <option value="0">Seleccione una categoria</option>
            </select>
        </div>
    </div>
    <div class="col-sm form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fas fa-feather font-weight-bold"></i> Descripcion </span>
                </div>
            </div>
            <input type="text" class="form-control" id="descripcionServicioComplementarioFiltro"
                name="descripcionServicioComplementario" placeholder="Descripción servicio">
        </div>
    </div>
    <div class="col-sm-2 form-group">
        <button id="btnBuscarServicio" class="btn btn-primary float-right">BUSCAR <i class="fas fa-search"></i></button>
    </div>
</div>

<h3 class="mb-2 mt-2 text-center"><i class="fas fa-list-ol"></i> Lista de servicios</h3>

<div class="mt-1 userList row">

    <div class="col-sm-3 mb-1">
        <div class="card">
            <img class="card-img-top" src="./assets/img/avatar.png" />
            <div class="card-body">
                <h5 class="card-title"><strong>CSALAZAR</strong></h5>
                <p class="card-text">Cristhian Salazar Ureña</p>

                <div class="text-center">
                    <a href="#" class="btn"><i class="fas fa-eye"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-edit"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-check"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-3 mb-1">
        <div class="card">
            <img class="card-img-top" src="./assets/img/avatar.png" />
            <div class="card-body">
                <h5 class="card-title"><strong>CSALAZAR</strong></h5>
                <p class="card-text">Cristhian Salazar Ureña</p>

                <div class="text-center">
                    <a href="#" class="btn"><i class="fas fa-eye"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-edit"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-times"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-3 mb-1">
        <div class="card">
            <img class="card-img-top" src="./assets/img/avatar.png" />
            <div class="card-body">
                <h5 class="card-title"><strong>CSALAZAR</strong></h5>
                <p class="card-text">Cristhian Salazar Ureña</p>

                <div class="text-center">
                    <a href="#" class="btn"><i class="fas fa-eye"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-edit"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-times"></i></a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-3 mb-1">
        <div class="card">
            <img class="card-img-top" src="./assets/img/avatar.png" />
            <div class="card-body">
                <h5 class="card-title"><strong>CSALAZAR</strong></h5>
                <p class="card-text">Cristhian Salazar Ureña</p>

                <div class="text-center">
                    <a href="#" class="btn"><i class="fas fa-eye"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-edit"></i></a>
                    <a href="#" class="btn"><i class="fas fa-user-times"></i></a>
                </div>

            </div>
        </div>
    </div>


</div>