.agregar {
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: chocolate !important;
    border-color: chocolate !important;
    margin-top: 0.3rem;
  }