/*.color-texto {
    color: white;
}

.color-toogle {
    background-color: white;
}*/

.logoPagina{
    width: 75px;
    height: 40px;
}

.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    position: absolute;

  }

  .dropdown-menu{
    background-color: rgb(87, 127, 97);
    color: white;
  }