<div class="container mt-5">
    <h3 class="text-center mb-3"><strong>Fichas de Inventario</strong></h3>
    <section id="menuPrincipal">
        <div class="row">

            <div class="col-sm-3 form-group">
                <a class="hvr-icon-buzz-out" [routerLink]="['/fichas/crud-planta']">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center font-weight-bold">Planta Turística</div>
                        <div class="card-body text-success">
                            <h1 class="card-title text-center"><i class="fas fa-utensils hvr-icon"></i></h1>
                            <p class="card-text text-justify">Registro y actualización de la Planta Turística.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3 form-group">
                <a class="hvr-icon-buzz-out" [routerLink]="['/fichas/crud-atractivo']">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center font-weight-bold">Atractivo Turístico</div>
                        <div class="card-body text-success">
                            <h1 class="card-title text-center">
                                <i class="fas fa-mountain hvr-icon"></i> 
                                <i class="fas fa-tree hvr-icon"></i>
                            </h1>
                            <p class="card-text text-justify">Registro y actualización de los Atractivos Turísticos.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>