<div class="container mt-5">
    <h3 class="text-center mb-3"><strong>Administración del Sistema</strong></h3>
    <section id="menuPrincipal">
        <div class="row">

            <div class="col-sm-3 form-group">
                <a class="hvr-icon-buzz-out" [routerLink]="['/usuarios']">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center font-weight-bold">Usuarios</div>
                        <div class="card-body text-success">
                            <h1 class="card-title text-center"><i class="fas fa-users hvr-icon"></i></h1>
                            <p class="card-text text-justify">Mantenimiento de usuarios del sistema.</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 form-group">
                <a class="hvr-icon-buzz-out" [routerLink]="['/roles']">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center font-weight-bold">Roles</div>
                        <div class="card-body text-success">
                            <h1 class="card-title text-center">
                                <i class="fas fa-user-tie hvr-icon"></i>
                            </h1>
                            <p class="card-text text-justify">Mantenimiento de roles de usuario..</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-3 form-group">
                <a class="hvr-icon-buzz-out" [routerLink]="['/asignaciones']">
                    <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center font-weight-bold">Asignación Permisos</div>
                        <div class="card-body text-success">
                            <h1 class="card-title text-center">
                                <i class="fas fa-clipboard-check hvr-icon"></i>
                            </h1>
                            <p class="card-text text-justify">Asignar permisos a los roles de usuario.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </section>
</div>
