<div class="row mt-2">
    <div class="col-sm-2">
        <h3>Filtros: </h3>
    </div>
    <div class="col-sm form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fas fa-th-list font-weight-bold"></i> Cantón </span>
                </div>
            </div>
            <select class="form-control col-sm-10" name="cantonPlanta"
                id="cantonPlanta">
                <option value="0">Seleccione una categoria</option>
            </select>
        </div>
    </div>
    <div class="col-sm form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <span><i class="fas fa-feather font-weight-bold"></i> Descripcion </span>
                </div>
            </div>
            <input type="text" class="form-control" id="filtroDescripcionPlanta"
                name="filtroDescripcionPlanta" placeholder="Descripción Planta">
        </div>
    </div>
    <div class="col-sm-2 form-group">
        <button id="btnBuscarPlanta" class="btn btn-primary float-right">BUSCAR <i class="fas fa-search"></i></button>
    </div>
</div>


<h3 class="mb-2 mt-2 ml-1 mr-1 text-center">Fichas registradas</h3>

<div class="mt-1 plantasList">
    <div class="card mt-1 mb-1">
        <div class="card-header">
            <strong id="idFichaPlanta" class="font-weight-bold">FPT-00000001</strong>
        </div>
        <div class="card-body">
            <h5 id="nombrePlanta" class="card-title font-weight-bold">Restaurante Chirripó</h5>
            <p class="card-text text-justify" id="descripcionPlanta">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="text-center">
                <a href="#" class="btn btn-primary mr-1" title="Màs informaciòn"><i class="fas fa-info-circle"></i></a>
                <a href="#" class="btn btn-primary mr-1" title="Editar ficha"><i class="fas fa-edit"></i></a>
                <a href="#" class="btn btn-danger mr-1" title="Activar/Desactivar ficha"><i class="fas fa-calendar-check"></i></a>
            </div>
        </div>
    </div>
</div>
