<h1 class="text-center mt-5">Mantenimiento de Atractivo Turìstico</h1>
<a id="btnAtractivo" class="btn btn-primary hvr-icon-forward" [routerLink]="['/fichas/crud-atractivo/atractivo-insert']" routerLinkActive="active">Nueva Atractivo <i class="fas fa-plus-square"></i></a>

<h3 class="text-center">Fichas de Atractivo Turístico registradas</h3>

<div class="card mt-1 mb-1 ml-1 mr-1">
    <div class="card-header">
        <strong>Ficha de inventario</strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Detalles</a>
        <a href="#" class="btn btn-danger ml-1">Eliminar</a>
    </div>
</div>
<div class="card mt-1 mb-1 ml-1 mr-1">
    <div class="card-header">
        <strong>Ficha de inventario</strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Detalles</a>
        <a href="#" class="btn btn-danger ml-1">Eliminar</a>
    </div>
</div>
<div class="card mt-1 mb-1 ml-1 mr-1">
    <div class="card-header">
        <strong>Ficha de inventario</strong>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Detalles</a>
        <a href="#" class="btn btn-danger ml-1">Eliminar</a>
    </div>
</div>
