.html{
    scroll-behavior: smooth;
    height: 100%;
}

/*Estilos generales de la plantilla*/
.body {
    font-family: 'Yu Gothic UI' !important;
    font-size: 20px;
    height: 100%;
}

nav.navbar{
    font-weight: bold !important;
}

.btnSection{
    margin-right: 2px;
}